web/node_modules/
web/node_modules/*
web/node_modules
1.md
1panel.env
models/imagebind.pth
imagebind.pth
storage
storage/
storage/*
*.mp3
venv/
venv
venv/*
models/MiniCPM-V-2_6-int4
models/MiniCPM-V-2_6-int4/*
models/MiniCPM-o-2_6-gguf
models/MiniCPM-o-2_6-gguf/*